#countdownText {
     margin-top: 200px;
     font-size: 500%;
}

#stage, #score {
     justify-content: center;
     align-items: center;
}

.btn-primary {
     margin: 10px;
}

.hide {
     display: none;
     visibility: hidden;
}

.show {
     display: flex;
}

#formStage {
     justify-content: center;
     align-items: center;
}

#formArea {
     justify-content: center;
     align-items: center;
     margin-top: 20px;
     display: none;
}

#formButt {
     margin-left: 5px;
}


